* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}

#main-container {
	width: 100vw;
	height: 100vh;
	background-color: #D9DAD1;
}

#green-background-rectangle {
	height: 100px;
	width: 100%;
	background-color: #009587;
	position: absolute;
	top: 0;
}

.template {
	display: none;
}

#app-container {
	width: 90%;
	max-width: 1200px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	margin: 30px auto;
	background-color: #FFF;
	z-index: 5;		/*per essere sicuro che sia in primo piano*/
}

#lcol {
	float: left;
	width: 30%;
	border-right: rgba(0,0,0,0.7);
}

#rcol {
	float: left;
	width: 70%;
}

/*
.navbar {}
#lcol__navbar {}
#rcol__navbar {}

.navbar__user-info {}
	.navbar__user-info__photo{}
	.navbar__user-info__text-wrapper {}
		.navbar__user-info__name {}
		.navbar__user-info__lastaccess {}
.navbar__utilities {}
	.navbar__utilities__icon {}
*/

.navbar {
	width: 100%;
	height: 50px;
	background-color: #E9E9E9;
	color: #AFAFAF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border: 1px solid black;
}

.navbar__user-info {
	display: flex;
}

.navbar__user-info__photo {
	display: flex;
	align-items: center;
}

.navbar__user-info__photo img {
	border-radius: 50%;
	height: 35px;
	width: 35px;
}

.navbar__user-info__text-wrapper {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.navbar__user-info__name {
	color: #000;
	font-size: 0.9rem;
}

.navbar__user-info__lastaccess {
	color: #888;
	font-size: 0.8rem;
}

.navbar__utilities {
	display: flex;
	align-items: center;
}

.navbar__utilities__icon {
	padding: 0 5px;
}