* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

input[type=text] {
	width: 100%;
	border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	outline: none;
}

.user-icon {
	border-radius: 50%;
	height: 35px;
	width: 35px;
}

#main-container {
	width: 100vw;
	height: 100vh;
	background-color: #D9DAD1;
}

#green-background-rectangle {
	height: 100px;
	width: 100%;
	background-color: #009587;
	position: absolute;
	top: 0;
}

.template {
	display: none;
}

#app-container {
	width: 90%;
	max-width: 1200px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	margin: 30px auto;
	background-color: #FFF;
	z-index: 5;		/*per essere sicuro che sia in primo piano*/
}

#lcol {
	float: left;
	width: 30%;
	height: 100%;
	border-right: 1px solid rgba(0,0,0,0.4);
}

#rcol {
	float: left;
	width: 70%;
	height: 100%;
}





/*
.navbar {}
#lcol__navbar {}
#rcol__navbar {}

.navbar__user-info {}
	.navbar__user-info__photo{}
	.navbar__user-info__text-wrapper {}
		.navbar__user-info__name {}
		.navbar__user-info__lastaccess {}
.navbar__utilities {}
	.navbar__utilities__icon {}
*/
.navbar {
	width: 100%;
	height: 55px;
	background-color: #E9E9E9;
	color: #AFAFAF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.navbar__user-info {
	display: flex;
}

.navbar__user-info__photo {
	display: flex;
	align-items: center;
}

.navbar__user-info__text-wrapper {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.navbar__user-info__name {
	color: #000;
	font-size: 0.9rem;
}

.navbar__user-info__name:hover {
	text-decoration: underline;
}

.navbar__user-info__lastaccess {
	color: #888;
	font-size: 0.8rem;
}

.navbar__utilities {
	display: flex;
	align-items: center;
}

.navbar__utilities__icon {
	padding: 0 5px;
}

.navbar__utilities__icon:hover {
	color: #000;
}





/*
#lcol__alert {}
	#lcol__alert__icon {}
	#lcol__alert__text-wrapper {}
		#lcol__alert__title {}
		#lcol__alert__link {}
*/
#lcol__alert {
	height: 60px;
	width: 100%;
	background-color: #88D8FB;
	display: flex;
	align-items: center;
}

#lcol__alert__icon {
	background-color: #FFF;
	color: #88D8FB;
	border-radius: 50%;
	height: 38px;
	width: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 20px;
	flex: 0 0 auto;
}

#lcol__alert__text-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 10px;
}

#lcol__alert__title {
	font-size: 0.8rem;
	margin-bottom: 2px;
}

#lcol__alert__link {
	text-decoration: underline;
	font-size: 0.7rem;
}





/*
#lcol__searchbar {}
	#lcol__searchbar__icon {}
	#lcol__searchbar__text {}
		#lcol__searchbar__textinput {}
*/
#lcol__searchbar {
	padding: 13px;
	height: 40px;
	width: 100%;
	color: #AFAFAF;
	display: flex;
	justify-content: center;
	align-items: center;
}

#lcol__searchbar__icon {
	padding-right: 8px;
}

#lcol__searchbar__text {
	width: 100%;
}

#lcol__searchbar__textinput {
	width: 100%;
	line-height: 0.8rem;
	font-size: 0.8rem;
	color: #888;
}





/*
#lcol__contacts {}
  	PER OGNI CONTATTO
  	.lcol__contact {}
		.lcol__contact__photo {}
		.lcol__contact__text-wrapper {}
			.lcol__contact__name {}
			.lcol__contact__message {}
		.lcol__contact__recived {}
*/
#lcol__contacts {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.lcol__contact {
	display: flex;
	align-items: center;
	padding: 12px;
	height: 60px;
	width: 100%;
}

.lcol__contact__photo {
	padding-right: 12px;
	display: flex;
	align-items: center;
}

.lcol__contact__text-wrapper {
	display: flex;
	flex-direction: column;
}

.lcol__contact__name {
	font-size: 0.9rem;
	margin-bottom: 4px;
}

.lcol__contact__name:hover {
	text-decoration: underline;
}

.lcol__contact__message {
	font-size: 0.8rem;
	color: #AFAFAF;
	font-weight: 500;
	overflow: hidden;
	width: 100%;
	height: 0.8rem;
	padding-right: 6px;
}








/*# # # COLONNA DI DESTRA # # #*/








/*
#rcol__chat {}
	.rcol__chat__message {}
		.user {}
		.other {}
*/

#rcol__chat {
	background-image: url("../resources/images/chat-background.png");
 	background-color: #E3DCD5;
 	background-repeat: no-repeat;
 	background-position: top center;
 	background-size: cover;
 	padding: 20px 60px;
 	overflow: auto;
 	display: flex;
 	flex-direction: column;
}

.rcol__chat__message {
	padding: 15px;
	background-color: #FFF;
	border-radius: 6px;
	margin: 10px 0;
	font-size: 0.9rem;
	max-width: max-content;
	min-width: 100px;
}

.user {
	background-color: #D2FABA;
	align-self: flex-end;
}

.other {
}





/*
#rcol__chat-input {}

	#rcol__chat-input__emoji {} / .rcol__chat-input__icon {}
	#rcol__chat-input__text {}
		#rcol__chat-input__textinput {}
	#rcol__chat-input__mic {} 	/ .rcol__chat-input__icon {}
	#rcol__chat-input__send	{}  / .rcol__chat-input__icon {}
*/
#rcol__chat-input {
	padding: 10px;
	display: flex;
	height: 55px;
	align-items: center;
	justify-content: space-between;
}

.rcol__chat-input__icon {
	padding: 0 15px;
	color: #888;
	font-size: 1.3rem;
}

.rcol__chat-input__icon:hover {
	color: #000;
}

#rcol__chat-input__text {
	width: 100%;
}

#rcol__chat-input__textinput {
	line-height: 40px;
	font-size: 1rem;
}

#rcol__chat-input__mic {
	
}

#rcol__chat-input__send	{
	display: none;
}

